body{
    font-family: Arial;
    background-color: rgb(255, 255, 255);
}
.container{
    background-color: rgb(200, 200, 200);
    padding: 20px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}
button{
    margin-top: 15px;
    padding: 10px;
    width: 100;
    
}
